<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <img src="{{ asset('asset/Tree.PNG') }}">
        {% block body %}{% endblock %}


    {% block javascripts %}{% endblock %}
    </body>
</html>
