{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}


    {% if flashesbag.success is defined %}
        <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
            <p>{{ flashesbag.success[0] }}</p>
        </div>
    {% endif %}
    {{ form_start(form) }}

    <div class="form-body">
        <div class="text-center">
            <div class="row">
                <div class="col-3">
                    {{ form_row(form.a) }}
                    {{ form_row(form.s) }}
                    {{ form_row(form.t) }}
                    {{ form_row(form.b) }}
                </div>
                <div class="col-3">
                    <div class=" mb-3">
                        <button type="button" class="add-another-collection-widget btn btn-info"
                                data-list-selector="#add_answers" onclick="addapple();">Add Apple
                        </button>
                    </div>
                    <div id="apple_block col-3">
                        <div id="add_apple"
                             data-prototype="{{ form_widget(form.apple.vars.prototype)|e('html_attr') }}">
                            {% for key, apple in form.apple %}
                                <div id="add_apple_{{ key }}" class="row">
                                    {{ form_row(apple.fruit) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class=" mb-3">
                        <button type="button" class="add-another-collection-widget btn btn-info"
                                data-list-selector="#add_answers" onclick="addorange();">Add Orange
                        </button>
                    </div>
                    <div id="orange_block">
                        <div id="add_orange"
                             data-prototype="{{ form_widget(form.orange.vars.prototype)|e('html_attr') }}">
                            {% for key,orange in form.orange %}
                                <div id="add_orange_{{ key }}" class="row">
                                    {{ form_row(apple.fruit) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

            {{ form_row(form.send) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script>
        $(document).ready(function () {
            addapple();
            addorange();
        });

        function addapple() {
            let list = $('#add_apple');
            let counter = list.data('widget-counter') || list.children().length;
            let newWidget = list.attr('data-prototype');
            newWidget = newWidget.replace(/__name__label__/g, '');
            newWidget = newWidget.replace(/__name__/g, counter);
            counter++;
            list.data('widget-counter', counter);
            let newElem = $('<div class="form-group"></div>').html(newWidget);
            newElem.appendTo(list);
        }

        function addorange() {
            let list = $('#add_orange');
            let counter = list.data('widget-counter') || list.children().length;
            let newWidget = list.attr('data-prototype');
            newWidget = newWidget.replace(/__name__label__/g, '');
            newWidget = newWidget.replace(/__name__/g, counter);
            counter++;
            list.data('widget-counter', counter);
            let newElem = $('<div class="form-group"></div>').html(newWidget);
            newElem.appendTo(list);
        }
    </script>
{% endblock %}